// Light Font
font-face(main-font-family-name, 'neue/neue-einstellung-light', 300);

// Regular Font
font-face(main-font-family-name, 'neue/neue-einstellung-regular');

// Bold Font
font-face(main-font-family-name, 'neue/neue-einstellung-bold', 700);