// Footer Top
if footer-top
	#footer-top
		padding 50px 0
		
		h4
			margin-top 0
			margin-bottom 15px

// Footer Main
if footer-main
	#footer-main
		padding 85px 0
		
		h4
			margin-top 0
			margin-bottom 15px

// Footer Bottom
if footer-bottom
	#footer-bottom
		padding 15px 0

// Footer Styles
#footer
	.copyright
		margin 0
		color white-colour

		a
			color default-colour
			
			&:hover
				color primary-colour