// Header Top
if header-top
	#header-top
		padding-top 15px
		padding-bottom 15px
		
		ul
			li
				a
					color white-colour

					&:hover
						color secondary-colour
			
			&.contact
				li
					i
						color secondary-colour
			
			&.social
				li
					i
						margin-right 0

/* Header Style */
.main-header
	box-shadow 0 0 15px 0 rgba(0, 0, 0, 0.10)

	.logo
		height 100px
		display block
		width auto
		padding 15px 0
		
		img
			height 100%
			width auto