@media only screen and (max-width: 767px)
	/* Layouts */
	#page
		padding-top 80px
	
	.sec
	#title-bar
		padding-top 40px
		padding-bottom 40px
		
	/* Headings */
	.headline
		font-size 1.8em

	#title-bar .title-bar-heading
	.more-articles .heading
	.testimonial .heading
		font-size 1.6em
	
	.more-articles .heading
		margin-bottom 20px

	/* 404 */
	.error404 .not-found-title
		font-size 130px

	.error404 .not-found-page p
		font-size 1.2em
		margin-bottom 25px

	/* UI */
	.action-box
		padding 30px
		
		.heading
			font-size 1.5em
			
		.content
			margin-bottom 15px

		&.action-box-form
			padding 30px

	.btn
	input[type=submit]
	input[type=button] 
	button
		padding 12px 20px
		
	.share-post
		text-align center
		
		.t-a-r
			text-align center
		
		.heading
			margin 0 0 15px
			
		ul
			li
				margin-right 10px
	
	.more-articles .article .article-heading
		font-size 1.1em
		
	.prev-next-post
		text-align center
		
		.t-a-r
			text-align center
		
		.float-right
			float none !important
		
		.gi-col-sm-6
			margin-bottom 30px
			
			&:last-of-type
				margin-bottom 0
	
	.prev-next-post-button .title
		margin-bottom 5px
		
	.testimonial
		.details
			span
				display block
				margin-right 0
				margin-bottom 5px
				float none
				
				&:last-of-type
					margin-bottom 0

@media only screen and (min-width: 768px) and (max-width: 991px)
	.action-box
		padding 45px 30px
		
		.heading
			font-size 1.65em

	.share-post
		.heading
			margin 10px 0
			font-size 1.3em

		ul
			li
				margin-right 6px
				
				a
					height 40px
					width 40px
					line-height 47px
					
					i
						font-size 16px
		