/* Buttons */
.btn
	padding 18px 27px
	border-width 2px
	border-style solid
	display inline-block
	normalize-line-height()

.btn-default
	background default-colour
	border-color default-colour
	color white-colour
		
	&:hover
		background primary-colour
		border-color primary-colour
		color white-colour
	
	&.btn-border
		color default-colour
		
		&:hover
			background default-colour
			border-color default-colour
			color white-colour

.btn-primary
	background primary-colour
	border-color primary-colour
	color white-colour
	
	&:hover
		background default-colour
		border-color default-colour
		color white-colour
		
	&.btn-border
		color primary-colour
		
		&:hover
			background primary-colour
			border-color primary-colour
			color white-colour

.btn-secondary
	background secondary-colour
	border-color secondary-colour
	color white-colour
	
	&:hover
		background default-colour
		border-color default-colour
		color white-colour
		
	&.btn-border
		color secondary-colour

		&:hover
			background secondary-colour
			border-color secondary-colour
			color white-colour
			
.btn-white
	background white-colour
	border-color white-colour
	color default-colour
	
	&:hover
		background default-colour
		border-color default-colour
		color white-colour
		
	&.btn-border
		color white-colour

		&:hover
			background secondary-colour
			border-color secondary-colour
			color white-colour
			
.btn-border
	background transparent

.btn-block
	display block
	text-align center

input[type="submit"]
input[type="button"]
button
	@extends .btn
	@extends .btn-default
	transition main-transition-seconds



/* Testimonial */
.testimonial
	&.style
		padding 30px
		background default-colour
		
		.heading
			color white-colour

		.content
			color white-colour

		.details
			span
				&.name
				&.date
					font-weight 600
					color white-colour

	.details
		overflow hidden

		span
			float left
			margin-right 20px
			
			&.rating
				color #FD0
			
			&:last-of-type
				margin-right 0



